<!DOCTYPE html>
<html lang="en">
	<head>
		<meta cahrset=utf-8>
		<title>{{ post.title }}{{ flatpage.title }} - Test Blog - Django-Testing</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
		<link href="/static/css/blog.css" rel="stylesheet" media="screen">
		{% block style %}{% endblock %}
	</head>
	<body> 
		<div class="container">
			<h1 class="pageTitle"><a href="{% url blog.views.home %}">Test Blog</a></h1>
			<div class="menu">
				<ul class="nav nav-pills">
					{% for pagetitle in pagetitle %}
					<li><a href="{{ pagetitle.url }}" class="btn">{{ pagetitle.pagetitle }}</a></li>
					{% endfor %}<br/><br/>
					<p>Flat Pages Menu</p>
					{% load flatpages %}	
					{% get_flatpages as flatpages %}
					{% for page in flatpages %}
        			<li><a href="{{ page.url }}" class="btn">{{ page.title }} - {{ page.url }}</a></li>
    				{% endfor %}
				</ul>
			</div>
			<div class="row-fluid">
				{% block content %}{% endblock%}
				{% block sidebar %}{% endblock%}
			</div>
			<div class="row-fluid">
				{% block paginator %}{% endblock%}
			</div>
		</div>
	</body>
</html>