{% extends "index.html" %}

{% block content %}
		<div class="post">
				<h2 class="postTitle">{{ post.title }}</h2>
				<h5 class="postInfo">Posted on {{ post.timestamp }} by {{ post.author }}</h5>
				<hr />
				<div class="postContent">{{ post.bodytext }}</div>
			</div>
		{% if comments %}
		    <h3>Comments:</h3>
		{% endif %}

		{% for comment in comments %}
		    <div class="comment">
		    	<div class="commentAuthor">{{ comment.author }}</div>
		        <div class="commentTime">{{ comment.timestamp }}</div>
		        <hr />
		        <div class="commentBody">{{ comment.body|linebreaks }}</div>
		    </div>
		{% endfor %}

		<div id="addComment">Add a comment</div>
		<!-- Comment form  -->
		<form action="{% url blog.views.add_comment post.id %}" method="POST">{% csrf_token %}
		    <div id="cform">
		        Name: {{ form.author }}
		        <p>{{ form.body|linebreaks }}</p>
		    </div>
		    <div id="submit"><input type="submit" value="Submit"></div>
		</form>
{% endblock %}